<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <% include("/common/header_css.html"){} %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 500</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> 阿噢! 网页出了点小问题……</h3>

            <p>
                不要担心，我们的工程师正在处理……。
                您也许想 <a href="${basePath}/admin/index">回到主页</a>。
            </p>

        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
<script>
    /* 当登陆页面不是最顶级页面时，将最顶级页面设为登陆页面 */
    if(window.top.location.href !== window.location.href) {
        window.top.location.href = window.location.href;
    }
</script>
</body>
</html>